@import "../../variables";

.form-color {
    &__colors {
        background-color: $white;
        border-radius: 4px;
        padding: 8px 6px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    label {
        margin: 4px;
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;
        border-radius: 26px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input {
        visibility: hidden;
        max-width: 100%;
        position: absolute;
    }
    &__color {
        width: 26px;
        height: 26px;
        border-radius: 26px;
        display: block;
        box-sizing: border-box;
        position: relative;
        &--red {
            background-color: #e02020;
            border: 2px solid #e02020;
        }
        &--orange{
            background-color: #fa6400;
            border: 2px solid #fa6400;
        }
        &--yellow {
            background-color: #f7b500;
            border: 2px solid #f7b500;
        }
        &--green {
            background-color: #44d7b6;
            border: 2px solid #44d7b6;
        }
        &--light-blue {
            background-color: #32c5ff;
            border: 2px solid #32c5ff;
        }
        &--blue {
            background-color: #0091ff;
            border: 2px solid #0091ff;
        }
        &--violet {
            background-color: #6236ff;
            border: 2px solid #6236ff;
        }
        &--pink {
            background-color: #b620e0;
            border: 2px solid #b620e0;
        }
        &--dark-gray{
            background-color: #6d7278;
            border: 2px solid #6d7278;
        }
        &--dark-white {
            background-color: #ededed;
            border: 2px solid #ededed;
        }
        &--light-gray {
            background-color: #bfbfbf;
            border: 2px solid #bfbfbf;
        }
        &--gray {
            background-color: #7f7f7f;
            border: 2px solid #7f7f7f;
        }
        &--black {
            background-color: #262626;
            border: 2px solid #262626;
        }
        &--white {
            background-color: $white;
            border: 1px solid #979797;
        }
    }
    &__checked {
        span::before {
            content: "";
            width: 26px;
            height: 26px;
            border-radius: 26px;
            position: absolute;
            border: 2px solid white;
            box-sizing: border-box;
            top: -2px;
            left: -2px;
        }
        span::after{
            content: "";
            width: 28px;
            height: 28px;
            border-radius: 28px;
            position: absolute;
            border: 1px solid $blue;
            box-sizing: border-box;
            top: -3px;
            left: -3px;
        }
    }
}