@import "../../variables";

.frame-bot-folders {
    height: 100%;
    position: relative;
}

.folder-text {
    height: 151px;
    p {
        font-size: 15px;
        line-height: 20px;
        font-family: SF-Pro-Display-Regular;
        margin: 0;
        color: $black;
    }
}

.folder-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: auto;
}

.folder-1 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 90;
    height: 100%;
    height: auto;
}

.folder-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 80;
    height: 100%;
    height: auto;
}