@import "../../variables";

.text-block {
    background-color: $white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 12px 14px;
    position: relative;
    &__paragraph {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        margin-bottom: 5px;
        font-family: SF-Pro-Display-Bold;
        font-size: 14px;
        line-height: 18px;
        color: $black;
        margin: 0;
    }
    margin-bottom: 10px;
}