@import "../variables";

.frame-actions {
    position: absolute;
    top: 12px;
    right: 13px;
    z-index: 10;
    &__hide {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.2s;
        &:hover span{
            background-color: darken($dark-gray, 15)
        }
        span {
            height: 4px;
            width: 4px;
            border-radius: 4px;
            margin-bottom: 3px;
            background-color: $dark-gray;
        }
    }
    &__open {
        position: absolute;
        top: -6px;
        right: 13px;
        width: 102px;
        height: 30px;
        box-shadow: 0 18px 42px 0 rgba(114, 120, 135, 0.1), 0 4px 16px 0 rgba(0, 0, 0, 0.15);
        background-color: $dark-gray;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            position: absolute;
            content: "";
            height: 6px;
            width: 6px;
            background-color: $dark-gray;
            transform: rotate(45deg);
            top: 41%;
            right: -3px;
            transform: translateX(-41%, 0);
        }
        div {
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            margin-right: 12px;
        }
    }
}